<h2><%= current_user.first_name.to_s.humanize %> agrega archivos a tus Postulaciones</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container">
    <div class="field">
      <label for="fname">Archivos</label>
      <%= f.file_field :files, multiple: true %>
    </div>
    <div class="field">
      <label for="fname">   Mis Archivos Subidos:</label><br>
        <% current_user.files.each do |document| %>
          <%= link_to document.filename, document %>
          <br>
        <% end %>
    </div>

    <div class="field">
      <label for="fname" class="text-danger"> Para poder subir un archivo debes ingresar tu contraseña</label><br>
      <label for="fname" > Contraseña: </label><br>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Subir" %>
    </div>
  </div>
<% end %>

<h3>Cancela tu cuenta</h3>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger active' %></p>

<%= link_to "Back", :back %>
