<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>SCGR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= yield :head_javascript %>

  </head>

  <body id="page-top" class="sidebar-toggled">
    <div id="wrapper">
    <% if user_signed_in?%>
        <%= render partial: 'layouts/navbar' %>
        <div id="content-wrapper" class="d-flex flex-column">
        </div>
      </div>
      <%= render partial: 'layouts/footer' %>
      <%= yield %>
    <%else %>
      <h1>HOLA</h1>
      <ul class="hmenu">
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </ul>
      <%= yield %>
    <%end%>
    
    <script>
      <%= yield :javascript %>
    </script>
  </body>

</html>
